@font-face {
    font-family: "Space Grotesk", sans-serif;
    src: url(pozitivus/fonts/SpaceGrotesk-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Grotesk', sans-serif;
    src: url(pozitivus/fonts/SpaceGrotesk-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}